<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h4>Bookers</h4>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(@user) do %>
                  <span class="glyphicon glyphicon-home home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <span class="glyphicon glyphicon-user users" aria-hidden="true"> Users</span>
                <% end %>
              </li>
              <li>
                <%= link_to books_path do %>
                  <span class="glyphicon glyphicon-book books" aria-hidden="true"> Books</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out logout" aria-hidden="true"> logout</span>
                <% end %>
             </li>
            <% else %>
              <li>
                <%= link_to root_path do %>
                  <span class="glyphicon glyphicon-home home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to home_about_path do %>
                  <span class="glyphicon glyphicon-link about" aria-hidden="true"> About</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <span class="glyphicon glyphicon-edit sign_up" aria-hidden="true"> sign_up</span>
              <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in sign_in" aria-hidden="true"> login<login/span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  <div class="mt-80">
    <%= yield %>
  </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>